.cont-footer {
    color: white !important;
    background-color: #323390 !important;
}

.cont-footer h6 {
    color: white !important;
}

.container-fluid.mt-4.mb-4 {
    flex-grow: 1; /* Si quieres que ese div interno empuje hacia abajo */
}

/**** Slider - Productos relacionados ****/
.swiper {
  padding-bottom: 50px;
}
.swiper-slide {
  height: 100%;
}
.card {
  height: 100%;
}

.img-producto {
  height: 200px;            /* Fija un alto consistente */
  object-fit: contain;      /* Muestra toda la imagen, pero puede dejar bordes vacíos arriba/abajo o a los lados */
  width: 100%;              /* Asegura que ocupe todo el ancho disponible */
}

/* Pantallas medianas (tablets) */
@media (max-width: 768px) {
  .img-producto {
    height: 210px;
  }
}

/* Pantallas pequeñas (celulares) */
@media (max-width: 576px) {
  .img-producto {
    height: 260px;
  }
}