.foto {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border: 1px solid #ccc;
}

.tblArticulos td {
    vertical-align: middle;
}

.swal2-container {
  z-index: 2000 !important;
}

.img-pago {
    max-height: 70vh; 
    object-fit: contain;
}