{% extends 'catalogo/base.html'%}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'catalogo/css/comprar_moto.css' %}" />
{% endblock %}

{% block content %}
<div class="container-fluid mt-4 mb-4">
    <div class="container my-5">
        <!-- Título principal -->
        <h2 class="fw-bold">Solicita tu próxima moto</h2>
        <p>Completa el formulario y un asesor se comunicará en 24 horas.</p>

        <!-- Encabezado con marca, modelo, línea e imagen -->
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-between gap-2 mt-4 text-center text-md-start">
            <div>
                <div class="titulo-moto">
                    <span class="marca">{{ producto.prod_marca }}</span>
                </div>
                <div class="titulo-moto">
                    <span class="modelo">{{ producto.prod_modelo }}</span>
                </div>
            </div>
            <div class="linea-divisoria d-none d-md-block"></div>
            <img src="{% static 'tienda/img/' %}{{ producto.prod_imagen }}" alt="{{ producto.prod_modelo }}" class="imagen-moto mt-3 mt-md-0">
        </div>

        <!-- Formulario -->
        <form class="mt-4 formulario-cliente">
            <h5 class="fw-bold">Datos del cliente</h5>
            <div class="row">
                <div class="col-md-4">
                    <label>Tipo de documento</label>
                    <input type="text" class="form-control" placeholder="DNI / CE">
                </div>
                <div class="col-md-4">
                    <label>Nro de documento</label>
                    <input type="text" class="form-control" placeholder="00000000">
                </div>
                <div class="col-md-4">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="ejemplo@email.com">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-4">
                    <label>Nombres</label>
                    <input type="text" class="form-control" placeholder="Tu nombre">
                </div>
                <div class="col-md-4">
                    <label>Apellidos</label>
                    <input type="text" class="form-control" placeholder="Tus apellidos">
                </div>
                <div class="col-md-4">
                    <label>Celular</label>
                    <input type="tel" class="form-control" placeholder="912345678">
                </div>
            </div>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-enviar">Enviar</button>
            </div>
        </form>
    </div>
</div>
{% endblock%}

{% block extra_js %}

{% endblock %}